@use "./utilities/index" as *;

:root {
	--soft-red: hsl(10, 79%, 65%);
	--dark-brown: hsl(25, 47%, 15%);
	--cyan: hsl(186, 34%, 60%);
	--medium-brown: hsl(28, 10%, 53%);
	--cream: hsl(27, 66%, 92%);
	--very-pale-orange: hsl(33, 100%, 98%);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "DM Sans", serif;
	background-color: var(--cream);
}

.main {
	margin: 5vw 0;
	width: 90vw;
}

.top,
.bottom {
	padding: 3.3vw;
	border-radius: 2vw;
}

.top {
	margin-bottom: 3.5vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--soft-red);

	&__left {
		color: var(--very-pale-orange);

		&-balance {
			margin-bottom: 1.7vw;
			font-size: 3.5vw;
		}

		&-price {
			font-size: 6vw;
			font-weight: 700;
		}
	}

	&__right {
		width: 13vw;
	}
}

.bottom {
	background-color: var(--very-pale-orange);

	&__title {
		margin-bottom: 4vw;
		color: var(--dark-brown);
		font-size: 6.5vw;
	}

	&__box {
		padding-bottom: 5vw;
		margin-bottom: 5vw;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid var(--cream);

		&-content {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;

			&-info {
				margin-bottom: 1.3vw;
				padding: 1.3vw;
				border-radius: 1.2vw;
				background-color: var(--dark-brown);
				color: var(--very-pale-orange);
				font-size: 3vw;
				visibility: hidden;
				opacity: 0;
				transition: visibility 0.2s, opacity 0.2s;
			}

			&-color {
				width: 9.333vw;
				height: 13.333vw;
				background-color: var(--soft-red);
				border-radius: 1.6vw;
				transition: background-color 0.2s;

				&:hover {
					background-color: hsl(10, 85%, 75%);
				}
			}

			&:nth-child(2) {
				.bottom__box-content-color {
					height: 29.333vw;
				}
			}
			&:nth-child(3) {
				.bottom__box-content-color {
					height: 45.333vw;
					background-color: var(--cyan);

					&:hover {
						background-color: hsl(186, 55%, 71%);
					}
				}
			}
			&:nth-child(4) {
				.bottom__box-content-color {
					height: 26.133vw;
				}
			}
			&:nth-child(5) {
				.bottom__box-content-color {
					height: 18.667vw;
				}
			}
			&:nth-child(6) {
				.bottom__box-content-color {
					height: 37.867vw;
				}
			}
			&:nth-child(7) {
				.bottom__box-content-color {
					height: 22.4vw;
				}
			}

			&-text {
				margin-top: 1vw;
				font-size: 3vw;
				text-align: center;
				color: var(--medium-brown);
			}
		}
	}

	&__bot {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-left {
			&-total {
				text-align: center;
				font-size: 4vw;
				color: var(--medium-brown);
			}

			&-price {
				font-size: 8.8vw;
				font-weight: 700;
			}
		}

		&-right {
			&-procent {
				text-align: right;
				font-size: 5vw;
				font-weight: 700;
			}
			&-last {
				font-size: 4vw;
				color: var(--medium-brown);
			}
		}
	}
}

@media (min-width: 375px) {
	.main {
		margin: 1.5em 0;
		width: 338px;
	}

	.top,
	.bottom {
		padding: 0.8em;
		border-radius: 0.5em;
	}

	.top {
		margin-bottom: 1em;

		&__left {
			&-balance {
				margin-bottom: 0.15em;
				font-size: 1.25rem;
			}

			&-price {
				font-size: 2.2rem;
			}
		}

		&__right {
			width: 13%;
		}
	}

	.bottom {
		&__title {
			margin-bottom: 4vw;

			font-size: 15px;
		}

		&__box {
			padding-bottom: 18.75px;
			margin-bottom: 18.75px;

			&-content {
				&-info {
					margin-bottom: 4.875px;
					padding: 4.875px;
					border-radius: 4.5px;

					font-size: 11.25px;
				}

				&-color {
					width: 35px;
					height: 50px;

					border-radius: 6px;
				}

				&:nth-child(2) {
					.bottom__box-content-color {
						height: 170px;
					}
				}
				&:nth-child(3) {
					.bottom__box-content-color {
						height: 45.333vw;
						background-color: var(--cyan);

						&:hover {
							background-color: hsl(186, 55%, 71%);
						}
					}
				}
				&:nth-child(4) {
					.bottom__box-content-color {
						height: 26.133vw;
					}
				}
				&:nth-child(5) {
					.bottom__box-content-color {
						height: 18.667vw;
					}
				}
				&:nth-child(6) {
					.bottom__box-content-color {
						height: 37.867vw;
					}
				}
				&:nth-child(7) {
					.bottom__box-content-color {
						height: 22.4vw;
					}
				}

				&-text {
					margin-top: 1vw;
					font-size: 3vw;
					text-align: center;
					color: var(--medium-brown);
				}
			}
		}

		&__bot {
			display: flex;
			justify-content: space-between;
			align-items: center;

			&-left {
				&-total {
					text-align: center;
					font-size: 4vw;
					color: var(--medium-brown);
				}

				&-price {
					font-size: 8.8vw;
					font-weight: 700;
				}
			}

			&-right {
				&-procent {
					text-align: right;
					font-size: 5vw;
					font-weight: 700;
				}
				&-last {
					font-size: 4vw;
					color: var(--medium-brown);
				}
			}
		}
	}
}
